services:
  - type: web
    name: youtube-downloader
    runtime: node
    repo: https://github.com/mrzappu/VIDEO-DOWNLOADER-FREE.git
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: NODE_ENV
        value: production
